
  .alert-hide  {
    display: none;
  }
  .alert-show {
    display: inline;
  }
#leave-event {
  width: -webkit-fill-available !important;
  background-color: black;
  color:rgb(150, 129, 13);
  border-color: white;
  font-family: 'Prata', serif;
  font-weight: bold;
}
#leave-event:hover {
  color: rgb(150, 129, 13); 
  background-color: white;
  border-color: white;
}
// #leave-event {
//   color: rgb(150, 129, 13); 
  
//   background-color: black;
// }
// #event-leave {
  
//   background-color: black;
//   color:rgb(150, 129, 13);
// }
#event-leave:hover {
  color: rgb(150, 129, 13); 
  background-color: white;
  border-color: white;
}
#event-leave {
  width: -webkit-fill-available !important;
  color: rgb(150, 129, 13); 
  border-color: white;
  font-family: 'Prata', serif;
  font-weight: bold;
  background-color: black;
}

//For smaller screen
@media only screen and (max-width: 997px) { 
  #position-goalie {
    position: absolute;
    top: 15em;
    left: 3em;
  }
  #position-defender_1 {
    position: absolute;
    top: 9em;
    left: 8em;
  } 
  #position-defender_2 {
    position: absolute;
    top: 21em;
    left: 8em;
  } 
  #position-defender_3 {
    position: absolute;
    top: 5.5em;
    left:13em;
  } 
  #position-defender_4 {
    position: absolute;
    top: 24.5em;
    left: 13em;
  } 
  #position-midfield_1 {
    position: absolute;
    top: 9em;
    left: 20em;
  } 
  #position-midfield_2 {
    position: absolute;
    top: 21em;
    left: 20em;
  } 
  #position-midfield_3 {
    position: absolute;
    top: 5.5em;
    left: 26.5em;
  } 
  #position-midfield_4 {
    position: absolute;
    top: 24.5em;
    left: 26.5em;
  } 
  #position-striker_1 {
    position: absolute;
    top: 9em;
    left: 33.5em;
  } 
  #position-striker_2 {
    position: absolute;
    top: 21em;
    left: 33.5em;
  } 

}

//For bigger screen
@media only screen and (min-width:998px) {
  #position-goalie {
    position: absolute;
    top: 18em;
    left: 4em;
  } 
  #position-defender_1 {
    position: absolute;
    top: 11em;
    left: 10.5em;
  } 
  #position-defender_2 {
    position: absolute;
    top: 25.5em;
    left: 10.5em;
  } 
  #position-defender_3 {
    position: absolute;
    top: 6.5em;
    left: 16.5em;
  } 
  #position-defender_4 {
    position: absolute;
    top: 30em;
    left: 16.5em;
  } 
  #position-midfield_1 {
    position: absolute;
    top: 11em;
    left: 25.5em;
  } 
  #position-midfield_2 {
    position: absolute;
    top: 25.5em;
    left: 25.5em;
  } 
  #position-midfield_3 {
    position: absolute;
    top: 6.5em;
    left: 33em;
  } 
  #position-midfield_4 {
    position: absolute;
    top: 30em;
    left: 33em;
  } 
  #position-striker_1 {
    position: absolute;
    top: 11em;
    left: 41.5em;
  } 
  #position-striker_2 {
    position: absolute;
    top: 25.5em;
    left: 41.5em;
  } 
}
