@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@mixin carousel-image {
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
}

.carousel-image1 {
  @include carousel-image;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('homepage.jpg');

}

.carousel-image2 {
  @include carousel-image;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('soccer1.jpeg');
}

.carousel-image3 {
  @include carousel-image;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('soccer2.jpeg');
}

.overlay { 
  font-family: Lobster, sans-serif;
  font-size: 3rem;
  color:white;
  position:absolute;
  z-index:12;
  top:40%;
  left:50;
  width:100%;
  text-align:center;
  letter-spacing: 3px;
}

// no-repeat center center fixed