@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-row {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.player-image {
  background: url('player.jpeg');
}

.referee-image {
  background: url('referee.jpeg');
}

.main-homepage-container {
  height: 300px;
  width: 480px;
}