@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-row {
  padding: 100px 30px;
}