// @import "styles/variables.scss";
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.btn {
  margin-left: 5em;
  color : white;
  background-color: black;
  border-radius: 20px;
  border: none;
  width: 30%;
}