// @import "styles/variables.scss";
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.App {
  text-align: center;
  overflow: hidden;
  font-family: 'Prata', serif;
}
.btn-primary:hover {
  color: rgb(150, 129, 13); 
  background-color: white;
  border-color: white;
}
.btn-primary {
  color: rgb(150, 129, 13); 
  border-color: white;
  font-family: 'Prata', serif;
  font-weight: bold;
  background-color: black;
  margin: 0.5em;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


