.message-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#message-submit:hover {
  color: rgb(150, 129, 13); 
  background-color: white;
  border-color: white;
  
}
#message-submit {
  color: rgb(150, 129, 13); 
  border-color: white;
  font-family: 'Prata', serif;
  font-weight: bold;
  background-color: black;
  width: 30em;
}

.message-page-left {
  width: 250px;
  margin-top: 5em;
  height: 70vh;
  background:rgba($color: #000000, $alpha:0.5);
}

.message-page-right {
  width: 500px;
  margin: 5em;
  height: 70vh;
  background:rgba($color: #000000, $alpha:0.5);
}

.conversation {
  height: 40vh;
  overflow: auto;
}

.new-message-form {
  height:20vh
}

.message-container-user {
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px;
}

.message-container-contact {
  display: flex;
  justify-content: flex-start;
  padding: 5px 5px;
}
.message-user {
  display: inline-block;
  padding: 5px 5px;
  text-align: left;
  color: whitesmoke;
  border: 0.5px whitesmoke solid;
  border-radius: 5px;
}
.message-contact {
  display: inline-block;
  text-align: left;
  padding: 5px 5px;
  color: rgb(255, 233, 108);
  border: 0.5px rgb(255, 233, 108) solid;
  border-radius: 5px;
}