#main-page {
  display: flex;
  flex-direction: column;
}
section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
  .title {
    margin-top: 1em;
    background-color:#e9eaec59;
    padding: 1em;
    border-radius: 10px;
    
  }
  .additional-info {
    margin-top: 2em;
    .info {
      color: #FAD02C;
      border-color: #FAD02C;
      border: 3px solid #FAD02C;
      margin-left: 1em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 1em ;
    }
  }
  
  .midpage {
    display: flex;
    
    justify-content: space-between;
    // padding-left: 25%;
    align-self: self-start;
    .additional-info {
      display: flex; 
      margin-left: 15em;
   
    }
  }
  .game-container {
    display: flex;
    // flex-direction: column;
    margin: 20em 0 10em 2em;
    .team1-container {
      display: flex; 
      flex-direction: column;
      margin-left: 12em;
      color: rgb(150, 129, 13);
      .teamblue {
        display: flex;
        background-color: #08080862;
      }
      .player-info-blue {
        color: rgb(150, 129, 13);
        background-color: #080808c0;
        border-radius: 4px;
        // background-color: blue;
      }
      .position-container {
        width: 12em;
        height: 500px;
        // background-color: #080808e5;
        // background-color: rgba(0, 0, 255, 0.747);
        padding: 1em 1em 15em 1em;
        border-radius: 10px;
      }
    }
    .team2-container {
      display: flex; 
      flex-direction: column;
      color: rgb(150, 129, 13);
      margin-left: 5em;
      .teamred {
        background-color: #08080862;
        display: flex;
      }
      .position-container{
        width: 12em;
        height: 500px;
        // background-color: rgba(255, 0, 0, 0.747);
        padding: 1em 1em 15em 1em;
        border-radius: 10px;
      }
      .player-info-red {
        color: rgb(150, 129, 13);
        background-color: #080808c0;
        border-radius: 4px;
        // background-color: red;
      }
     
    }
  }
  img {
    height: 1.5em; 
    width: 1.5em;
  }
  .sidebar {
    position: fixed;
    width: 15%;
    height: 90%;
    margin-bottom: 20em;
    left: 1em;
    padding: 48px 0 0;
    border-radius: 15px 50px 30px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    text-align: -webkit-center;
  }
  #sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  }
  #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  }
  // #button-group {
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: 2em;
  // }
  //-----Navbar Text-----
  .navbar-light .navbar-text {
    color: white;
    margin-left: 35em;
    margin-right: 2em;
    font: -webkit-small-control;
  }
  .card-text {

  display: flex;
  flex-direction: column;
  }
}
.comments-container {
  width: 70%;
  margin-left: 10em;
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  .comment {
    display: flex;
    line-height: 5;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    
  }
  .p-comment{
    padding-left: 1em; 
    padding-right: 1em;
  }
  #user-comment {
    margin-right: 1em;
    margin-left: 2em;
  }
}

.map-container {
  position: absolute !important; 
  height: 30% !important;
  width: 30% !important;
  top: 5em !important;
  right: 3em;
    &_text {
      color:rgb(150, 129, 13);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      background-color: #080808e5;
      border-radius: 10px;
    } 
}
.p-comment {
  display: flex;
  border-radius: 6px;
  width: 90%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  box-sizing: border-box;
  margin-left: 2em;
}
  //////cssarrowplease.com
  // .p-comment {
  //   position: relative;
  //   border-radius: 10px;
  //   border: 4px solid black;
  // }
  // .p-comment:after, .p-comment:before {
  //   right: 100%;
  //   top: 50%;
  //   border: solid transparent;
  //   content: "";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  // }
  
  // .p-comment:after {
  //   border-color: rgba(136, 183, 213, 0);
  //   border-right-color: black;
  //   border-width: 10px;
  //   margin-top: -10px;
  // }
  