body {
  background-image: url('homepage.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
#main-page {
  display: flex;
  flex-direction: column;
}

section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  #title {
    margin-top: 1em;
    background-color:#e9eaec59;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 10px;
    #hostname {
      left:43%;
    }
  }
  .additional-info {
    margin-top: 2em;
    
  
    .info {
      color: #FAD02C;
      border-color: #FAD02C;
      border: 3px solid #FAD02C;
      margin-left: 1em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 1em ;
    }
    #info-text {
      width: 40em;
    }
  }
  .midpage {
    display: flex;
    justify-content: space-between;
    // padding-left: 25%;
    align-self: self-start;
    .additional-info {
      display: flex; 
      margin-top: 3em;
      margin-left: 19em;
    }
  }
  .game-container {
    display: flex;
    // flex-direction: column;
    margin: 20em 0 10em 2em;
    .team1-container {
      display: flex; 
      flex-direction: column;
      background-color: #08080862;
      border-radius: 4px;
      margin-left: 12em;
      color: whitesmoke;
      #teams {
        padding-top: 1em;
        color:blue;
      }
      .teamblue {
        display: flex;
        margin-top: 2em;
      }
      .player-info-blue {
        color: white;
        background-color: #080808c0;
        border-radius: 4px;
        background-color: blue;
      }
      .position-container {
        width: 11em;
        height: 500px;
        padding: 1em 1em 15em 1em;
        border-radius: 10px;
      }
    }
    .team2-container {
      display: flex; 
      flex-direction: column;
      border-radius: 4px;
      color: whitesmoke;
      background-color: #08080862;
      margin-left: 5em;
      #teams {
        padding-top: 2em;
        color: red;
      }
      .teamred {
        display: flex;
        margin-top: 2em;
      }
      .player-info-red {
        color: white;
        background-color: #080808c0;
        border-radius: 4px;
        background-color: red;
      }
      .position-container{
        width: 11em;
        height: 500px;
        padding: 1em 1em 15em 1em;
        border-radius: 10px;
      }
    }
  }
  img {
    height: 1.5em; 
    width: 1.5em;
  }
  .sidebar {
    position: fixed;
    width: 250px;
    height: 90%;
    margin-bottom: 20em;
    left: 1em;
    padding: 48px 0 0;
    border-radius: 15px 50px 30px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    text-align: -webkit-center;
  }
  #sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  }
  #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  }
  #button-group {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  #edit-button {
    width: -webkit-fill-available !important;
  }
  //-----Navbar Text-----
  .navbar-light .navbar-text {
    margin-left: 35em;
    margin-right: 2em;
    font: -webkit-small-control;
  }
  .card-text {
    margin-top: 3em;
    font-size: large;
    color: rgb(150, 129, 13);
    display: flex;
    flex-direction: column;
  }
}
.comments-container {
  width: 70%;
  margin-left: 10em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  .comment {
    display: flex;
    line-height: 5;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1em;
    
  }
  .p-comment{
    padding-left: 1em; 
    padding-right: 1em;
    border-radius: 0px 30px 30px;
  }
  #user-comment {
    margin-right: 1em;
    margin-left: 1.5em;
  }
}

.map-container {
  position: absolute !important; 
  height: 30% !important;
  width: 30% !important;
  top: 7em !important;
  right: 3em;
    &_text {
      color:rgb(150, 129, 13);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      background-color: #080808e5;
      border-radius: 10px;
    } 
}
.p-comment {
  display: flex;
  border-radius: 6px;
  width: 90%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-left: 2em;
}
  
#edit-event{
  width: -webkit-fill-available !important;
}
 