

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import '~bootstrap/scss/bootstrap.scss';
// @import "styles/variables.scss";

// @import "styles/typography.scss";

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
